antora-docs/node_modules
antora-docs/build

# C++ / CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
_deps/
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe

# IDE / editor
.vscode/
.idea/
*.swp
.DS_Store
